[Unit]
Description=Button Controller

[Service]
# Command to execute when the service is started
# @see https://github.com/torfsen/python-systemd-tutorial
ExecStart=/usr/bin/python3.7 /home/pi/e-ink-btc/key-watcher.py